.Dishe {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}
.Dishe img {
  width: 200px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
}

.Dishe button {
  width: 100px;
  height: 20px;
}
